node_modules/
*.log
npm-debug.log.*
.DS_store
Thumbs.db
test/resources/stt-auth.json
test/resources/tts-auth.json
doc/
*-auth.json
.env
dist/*.js
dist/*.map
gh-pages/
.idea
watson-speech-*.tgz
IBM_Cloud_CLI_0.6.6_amd64.tar.gz
Bluemix_CLI
