language: node_js
node_js: 10
sudo: required
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
script:
- npm run build
- npm test
- sed -i "s/\/master\//\/$TRAVIS_BRANCH\//g" README.md
- npm run doc
after_success:
- scripts/jsdoc/publish.sh
env:
  global:
  - BX_APP=watson-speech
  - BX_API=https://api.ng.bluemix.net
  - BX_ORGANIZATION=WatsonPlatformServices
  - BX_SPACE=sdks
before_deploy: npm install -g bx-blue-green
deploy:
- provider: script
  skip_cleanup: true
  script:
  - cd examples/ && bx-blue-green-travis
  on:
    branch: master
    repo: watson-developer-cloud/speech-javascript-sdk
- provider: script
  skip_cleanup: true
  script: npx semantic-release@15
  on:
    node: 10
